.cat-picture {
    height: 100%;
    width: 100%;
}

.dueling-cat {
    height: 100%;
    width: 50%;
    float: left;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

#catmash-app {
    height: 100%;
}

.cat-list-link {
    bottom:0px;
    text-align: center;
    position: fixed;
    margin: 10px;
    font-size: x-large;
    width: 100%;
}

.cat-list-link>a:hover {
    text-decoration: none;
}

.cat-list-link>a {
    color: black;
    box-shadow: 0px 0px 5px black;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
.duel {
    height: 100%;
}

.active-dueling-cat {
    cursor: pointer;
}

.duel-title {
    top: 0px;
    text-align: center;
    position: fixed;
    margin: 10px;
    font-size: x-large;
    padding: 5px;
    width: 100%;
}
.duel-title>div {
    background-color: white;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    font-size: x-large;
    padding: 5px;
    display: inline-block;
}

.cat {
    height: 20em;
    width: 20em;
    display: inline-block;
    position: relative;
    margin: 10px;
}
.cat-score {
    cursor: default;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size:large;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
    position: absolute;
    line-height: 2em;
    margin: 3px;
}

.duel-link {
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
    color: black;
    margin:10px;
    padding:10px;
    font-size: large;
    text-decoration: none;
}

.duel-link:hover {
    text-decoration: none;
    color: black;
}
